@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
}

.pink-glow {
    color: #fd94c8;
    text-shadow: 1px 2px 6px #fd94c8;
}
